<div class="row comp-stage-data " data-comp-type="STYLE" data-subitemid="1">
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC229.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC229" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">As per Measurement Dress</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC131.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC131" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Churidar</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC132.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC132" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Salwar</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC133.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC133" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Patiala</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div><div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 not-applicable hidden" style="font-size:20px;font-family:Open Sans">
Not Applicable considering the previous selections. <br>Press <b>NEXT</b> to continue.
</div> 	
</div>