<div class="row comp-stage-data" data-comp-type="ADD-ONS" style="text-align:left;" data-subitemid="2">
	
		<div class="col-lg-12 align-center">
			<h2 style="text-transform:uppercase;font-family:Montserrat;font-size:24px;color:#777;">Add-ons</h2>
			<div>Please select from the below add-ons.</div>
			<div>*Extra rates for any added accessories other than add on below  (Lining,Zip,Lace,Buttons etc.)</div>
			<hr>
			
		</div>
	
	
		<div class="col-lg-12 col-xs-12 col-sm-12 comp-extra-stage-data" data-extra-type="BottomLining">
			
			
				<h2 style="text-transform: uppercase;font-family:Montserrat;font-size:18px;color:#777;"> Bottom Lining </h2>
			
			
				
				
				
				
				
    			







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data-extra" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/EXT5.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="EXT5" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Cotton Lining</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
				<h4 style="margin-top:0px;">
					



Rs. 150/-
				</h4>
			
		</div>
	</div>
</div>
    		
    	</div>
    
		<div class="col-lg-12 col-xs-12 col-sm-12 comp-extra-stage-data" data-extra-type="BottomStyle">
			
			
				<h2 style="text-transform: uppercase;font-family:Montserrat;font-size:18px;color:#777;"> Bottom Style </h2>
			
			
				
				
				
				
				
    			







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data-extra" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/EXT6.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="EXT6" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Waist with Elastic</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
				<h4 style="margin-top:0px;">
					



Rs. 75/-
				</h4>
			
		</div>
	</div>
</div>
    		
				
				
				
				
				
    			







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data-extra" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/EXT7.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="EXT7" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Waist with Normal Strings</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
				<h4 style="margin-top:0px;">
					



Rs. 0/-
				</h4>
			
		</div>
	</div>
</div>
    		
    	</div>
    
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 put-alert mobile_padding">
    	<div class="row">
    		<div class="col-lg-12 align-center">
    		<hr>
       		<p style="margin-top:10px; font-family:Open Sans; font-size:14px;float: left;">
       		</p><h2 style="text-transform: uppercase;font-family:Montserrat;font-size:18px;color:#777;"> Special Instructions </h2>
       		Tell us if you have any changes in measurement / special design requirement in the box below.<p></p>
       		</div>
       	</div>
       	<textarea class="form-control selection-dress-text" style="textarea:{resize:none};float:left" placeholder="Example: Reduce front neck depth by 1.5 inch. Increase bust line by 1 inch." rows="5"></textarea><grammarly-btn><div style="z-index: 2; opacity: 1; transform: translate(904px, 183px);" class="_9b5ef6-textarea_btn _9b5ef6-anonymous _9b5ef6-not_focused" data-grammarly-reactid=".0"><div class="_9b5ef6-transform_wrap" data-grammarly-reactid=".0.0"><div title="Protected by Grammarly" class="_9b5ef6-status" data-grammarly-reactid=".0.0.0">&nbsp;</div></div><span class="_9b5ef6-btn_text" data-grammarly-reactid=".0.1">Not signed in</span></div></grammarly-btn>
    </div>
</div>
