<div class="row comp-stage-data" data-comp-type="EXTRA" style="text-align:left;" data-subitemid="5">

    <div class="col-lg-12 align-center">
        <h2 style="text-transform:uppercase;font-family:Montserrat;font-size:24px;color:#777;">Add-ons</h2>
        <div>Please select from the below add-ons.</div>
        <hr>
    </div>
    <div class="col-lg-12 col-xs-12 col-sm-12 comp-extra-stage-data" data-extra-type="BottomLining">
    </div>
    <div class="col-lg-12 col-xs-12 col-sm-12 comp-extra-stage-data" data-extra-type="TopLining">
        <h2 style="text-transform: uppercase;font-family:Montserrat;font-size:18px;color:#777;"> Top Lining </h2>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data-extra" style="text-align:center;font-family:Montserrat;">
                <a href="#">
                    <img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/EXT3.png" alt="Generic placeholder image">
                </a>
                <div class="clickimg" data-id="EXT3" style="display:none">
                    <img style="border:none" src="/resources/images/select_itm.png">
                </div>
                <div class="row">
                    <h4 style="font-size: 14px;;  font-family: Open Sans;">Pre-washed Cotton</h4>
                </div>
                <div class="row" style="color:#ff7e82;">
                    <h4 style="margin-top:0px;">
                        Rs. 100/-
                    </h4>

                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-12 col-xs-12 col-sm-12 comp-extra-stage-data" data-extra-type="Closing">
        <h2 style="text-transform: uppercase;font-family:Montserrat;font-size:18px;color:#777;"> Closing </h2>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data-extra" style="text-align:center;font-family:Montserrat;">
                <a href="#">
                    <img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/EXT11.png" alt="Generic placeholder image">
                </a>
                <div class="clickimg" data-id="EXT11" style="display:none">
                    <img style="border:none" src="/resources/images/select_itm.png">
                </div>
                <div class="row">
                    <h4 style="font-size: 14px;;  font-family: Open Sans;">Back with Zip</h4>
                </div>
                <div class="row" style="color:#ff7e82;">
                    <h4 style="margin-top:0px;">
                        Rs. 25/-
                    </h4>

                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-12 col-xs-12 col-sm-12 comp-extra-stage-data" data-extra-type="Placket">
        <h2 style="text-transform: uppercase;font-family:Montserrat;font-size:18px;color:#777;"> Placket </h2>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data-extra" style="text-align:center;font-family:Montserrat;">
                <a href="#">
                    <img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/EXT12.png" alt="Generic placeholder image">
                </a>
                <div class="clickimg" data-id="EXT12" style="display:none">
                    <img style="border:none" src="/resources/images/select_itm.png">
                </div>
                <div class="row">
                    <h4 style="font-size: 14px;;  font-family: Open Sans;">Quarter Length</h4>
                </div>
                <div class="row" style="color:#ff7e82;">
                    <h4 style="margin-top:0px;">
                        Rs. 0/-
                    </h4>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data-extra" style="text-align:center;font-family:Montserrat;">
                <a href="#">
                    <img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/EXT13.png" alt="Generic placeholder image">
                </a>
                <div class="clickimg" data-id="EXT13" style="display:none">
                    <img style="border:none" src="/resources/images/select_itm.png">
                </div>
                <div class="row">
                    <h4 style="font-size: 14px;;  font-family: Open Sans;">Half Length</h4>
                </div>
                <div class="row" style="color:#ff7e82;">
                    <h4 style="margin-top:0px;">
                        Rs. 0/-
                    </h4>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data-extra" style="text-align:center;font-family:Montserrat;">
                <a href="#">
                    <img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/EXT14.png" alt="Generic placeholder image">
                </a>
                <div class="clickimg" data-id="EXT14" style="display:none">
                    <img style="border:none" src="/resources/images/select_itm.png">
                </div>
                <div class="row">
                    <h4 style="font-size: 14px;;  font-family: Open Sans;">Full Length</h4>
                </div>
                <div class="row" style="color:#ff7e82;">
                    <h4 style="margin-top:0px;">
                        Rs. 0/-
                    </h4>

                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-12 col-xs-12 col-sm-12 comp-extra-stage-data" data-extra-type="Random">
        <h2 style="text-transform: uppercase;font-family:Montserrat;font-size:18px;color:#777;"> Others </h2>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data-extra" style="text-align:center;font-family:Montserrat;">
                <a href="#">
                    <img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/EXT16.png" alt="Generic placeholder image">
                </a>
                <div class="clickimg" data-id="EXT16" style="display:none">
                    <img style="border:none" src="/resources/images/select_itm.png">
                </div>
                <div class="row">
                    <h4 style="font-size: 14px;;  font-family: Open Sans;">Side Pocket</h4>
                </div>
                <div class="row" style="color:#ff7e82;">
                    <h4 style="margin-top:0px;">
                        Rs. 25/-
                    </h4>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data-extra" style="text-align:center;font-family:Montserrat;">
                <a href="#">
                    <img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/EXT18.png" alt="Generic placeholder image">
                </a>
                <div class="clickimg" data-id="EXT18" style="display:none">
                    <img style="border:none" src="/resources/images/select_itm.png">
                </div>
                <div class="row">
                    <h4 style="font-size: 14px;;  font-family: Open Sans;">Tassels with Neck Ties</h4>
                </div>
                <div class="row" style="color:#ff7e82;">
                    <h4 style="margin-top:0px;">
                        Rs. 30/-
                    </h4>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data-extra" style="text-align:center;font-family:Montserrat;">
                <a href="#">
                    <img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/EXT15.png" alt="Generic placeholder image">
                </a>
                <div class="clickimg" data-id="EXT15" style="display:none">
                    <img style="border:none" src="/resources/images/select_itm.png">
                </div>
                <div class="row">
                    <h4 style="font-size: 14px;;  font-family: Open Sans;">Binding on Neckline and Sleeves</h4>
                </div>
                <div class="row" style="color:#ff7e82;">
                    <h4 style="margin-top:0px;">
                        Rs. 50/-
                    </h4>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data-extra" style="text-align:center;font-family:Montserrat;">
                <a href="#">
                    <img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/EXT21.png" alt="Generic placeholder image">
                </a>
                <div class="clickimg" data-id="EXT21" style="display:none">
                    <img style="border:none" src="/resources/images/select_itm.png">
                </div>
                <div class="row">
                    <h4 style="font-size: 14px;;  font-family: Open Sans;">Hemming for Dupatta</h4>
                </div>
                <div class="row" style="color:#ff7e82;">

                    <h4 style="margin-top:0px;">
                        Rs. 50/-
                    </h4>

                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 put-alert mobile_padding">
        <div class="row">
            <div class="col-lg-12 align-center">
                <hr>
                <p style="margin-top:10px; font-family:Open Sans; font-size:14px;float: left;">
                </p>
                <h2 style="text-transform: uppercase;font-family:Montserrat;font-size:18px;color:#777;"> Special Instructions </h2>
                Tell us if you have any changes in measurement / special design requirement in the box below.
                <p></p>
            </div>
        </div>
        <textarea class="form-control selection-dress-text" style="textarea:{resize:none};float:left" placeholder="Example: Reduce front neck depth by 1.5 inch. Increase bust line by 1 inch."
            rows="5"></textarea>
    </div>
</div>