<div class="row comp-stage-data" data-comp-type="BACK" data-subitemid="2">
            				
                				
								
								
								







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC224.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC224" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">As per Dress Material</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
                				
								
								
								







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC223.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC223" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">As per Measurement Dress</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
                				
								
								
								







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC63.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC63" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Square with criss-cross</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
                				
								
								
								







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC65.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC65" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Boat neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
                				
								
								
								







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC60.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC60" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Fisheye keyhole</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
                				
								
								
								







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC53.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC53" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Loop with button</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
                				
								
								
								







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC55.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC55" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Drop shaped keyhole</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
                				
								
								
								







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC186.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC186" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Round neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
                				
								
								
								







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC42.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC42" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Square neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
                				
								
								
								







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC40.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC40" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">U-neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
                				
								
								
								







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC169.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC169" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Peter Pan Collar</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
                				
								
								
								







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC43.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC43" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Rectangle neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
                				
								
								
								







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC167.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC167" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Collared back with fisheye keyhole</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
                				
								
								
								







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC41.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC41" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">V-neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
                				
								
								
								







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC64.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC64" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Crew neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
                				
								
								
								







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC154.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC154" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Halter with back bustier</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
                				
								
								
								







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC66.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC66" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Spaghetti - Square neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
                				
								
								
								







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC184.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC184" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">High Collar Halter Back</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
                				
								
								
								







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC149.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC149" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Collared back</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
                				
								
								
								







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC44.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC44" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Sweetheart neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
                				
								
								
								







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC168.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC168" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Classic Shirt collar</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
                				
								
								
								







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC157.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC157" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Collared back with drop keyhole</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
                				
								
								
								







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC67.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC67" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Spaghetti - U neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
                				
								
								
								







<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC45.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC45" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Scalloped neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
             				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 not-applicable hidden" style="font-size:20px;font-family:Open Sans">
             					Not Applicable considering the previous selections. <br>Press <b>NEXT</b> to continue.
             				</div> 	
             			</div>