<div class="row comp-stage-data " data-comp-type="FRONT" data-subitemid="1">
 
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC221.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC221" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">As per Measurement Dress</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
 
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC222.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC222" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">As per Dress Material</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
 
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC16.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC16" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Square with criss-cross neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
   
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC52.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC52" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Deep Sweetheart neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
  
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC34.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC34" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Collar with Deep V-neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
 

<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC189.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC189" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Round with V-neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>

<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC4.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC4" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Rectangle neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
  
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC39.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC39" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Stand-up Collar with Sweetheart neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
 

<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC2.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC2" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">U-Neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
 
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC5.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC5" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Diamond Neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
   


<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC12.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC12" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Horseshoe neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
  

<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC21.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC21" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Boat neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
   

<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC20.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC20" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Crew neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
 

<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC1.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC1" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">V-Neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
 
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC3.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC3" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Square neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
 

<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC36.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC36" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Peter Pan Collar</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
 
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC35.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC35" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Classic Shirt Collar</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
  
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC22.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC22" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Spaghetti - Square neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
 

<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC23.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC23" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Spaghetti - U neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
 

<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC33.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC33" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Nehru Collar</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
   


<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC166.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC166" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Halter neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
   




<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC6.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC6" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">Scalloped neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
                				


<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC165.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC165" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">High collar halter neck</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				


<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 padding image-height">
	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 product_p comp-data" style="text-align:center;font-family:Montserrat;"> 
		<a href="#">
			<img class="click_img" style="width:100%; height:auto; border=" src="/resources/images/UTC37.png" alt="Generic placeholder image">
		</a>
		<div class="clickimg" data-id="UTC37" style="display:none">
			<img style="border:none" src="/resources/images/select_itm.png">
		</div>
		<div class="row">
			
				<h4 style="font-size: 14px;;  font-family: Open Sans;">High Collar</h4>
			
		</div>
		<div class="row" style="color:#ff7e82;">
			
		</div>
	</div>
</div>
             				
             				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 not-applicable hidden" style="font-size:20px;font-family:Open Sans">
             					Not Applicable considering the previous selections. <br>Press <b>NEXT</b> to continue.
             				</div> 	
             			</div>