<div class="row" data-ItemType="SalwarSuit" data-itemtypeId=4 id="itemContainer">
  <h1 class="mobile_padding" style="color:#777; text-transform:uppercase; font-family:Montserrat; font-size:24px;">Customise</h1>
<div class="row bs-wizard" style="border-bottom:0;margin: 0px;">
	
		<div class="bs-wizard-step active" style="width:16.666666666666668%;float:left;">
    		<div class="text-center bs-wizard-stepnum">FRONT</div>
        	<div class="progress"><div class="progress-bar"></div></div>
        	<a href="#" class="bs-wizard-dot"></a>
    	</div>
    
		<div class="bs-wizard-step disabled" style="width:16.666666666666668%;float:left;">
    		<div class="text-center bs-wizard-stepnum">BACK</div>
        	<div class="progress"><div class="progress-bar"></div></div>
        	<a href="#" class="bs-wizard-dot"></a>
    	</div>
    
		<div class="bs-wizard-step disabled" style="width:16.666666666666668%;float:left;">
    		<div class="text-center bs-wizard-stepnum">SLEEVE</div>
        	<div class="progress"><div class="progress-bar"></div></div>
        	<a href="#" class="bs-wizard-dot"></a>
    	</div>
    
		<div class="bs-wizard-step disabled" style="width:16.666666666666668%;float:left;">
    		<div class="text-center bs-wizard-stepnum">HEMLINE</div>
        	<div class="progress"><div class="progress-bar"></div></div>
        	<a href="#" class="bs-wizard-dot"></a>
    	</div>
    
		<div class="bs-wizard-step disabled" style="width:16.666666666666668%;float:left;">
    		<div class="text-center bs-wizard-stepnum">STYLE</div>
        	<div class="progress"><div class="progress-bar"></div></div>
        	<a href="#" class="bs-wizard-dot"></a>
    	</div>
    
    	<div class="bs-wizard-step disabled" style="width:16.666666666666668%;float:left;">
    		<div class="text-center bs-wizard-stepnum">ADD-ONS</div>
        	<div class="progress"><div class="progress-bar"></div></div>
        	<a href="#" class="bs-wizard-dot"></a>
    	</div>
</div>
  <div class="alert alert-warning alert-dismissible" role="alert">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">×</span>
         </button>Please select a design.
    </div>
   <div class="row bs-wizard" style="border-bottom:0;margin: 0px;" id="customize">
	    <div class="row comp-stage-data-list" style="margin:0px;">
         <center>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="float: none;display: inline-block;" id="customize">
            </div>
         </center>
      </div>
   </div>   
 </div>
 <div class="container-fluid fixed_footer" style="background-color:#EEF3ED">
      <div style="text-align:center;" class="footer_abov">
         <center>
            <a href="#" class="btn btn-warning customisation-back" style="text-transform:uppercase;">&lt; Back</a>
            <a href="#" class="btn btn-warning customisation-next" style="text-transform:uppercase;">Next &gt;</a>
         </center>
      </div>
</div>