/*************************
*******Typography******
**************************/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #666;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
}

.parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.parallax,
.parallax h1,
.parallax h2,
.parallax h3,
.parallax h4,
.parallax h5,
.parallax h6 {
    color: #fff;
}

.parallax input[type="text"],
.parallax input[type="text"]:hover,
.parallax input[type="email"],
.parallax input[type="email"]:hover,
.parallax input[type="url"],
.parallax input[type="url"]:hover,
.parallax input[type="password"],
.parallax input[type="password"]:hover,
.parallax textarea,
.parallax textarea:hover {
    font-weight: 300;
    color: #fff;
}

.btn {
    border: 0;
    border-radius: 0;
}

.btn.btn-primary:hover {
    background-color: #017fb5;
}

.navbar-nav li a:hover,
.navbar-nav li a:focus {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
    background: transparent;
}

a {
    text-decoration: none;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none
}

section {
    padding: 90px 0;
}

.heading {
    padding-bottom: 90px;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background: #fff;
}

.preloader > i {
    position: absolute;
    font-size: 36px;
    line-height: 36px;
    top: 50%;
    left: 50%;
    height: 36px;
    width: 36px;
    margin-top: -15px;
    margin-left: -15px;
    display: inline-block;
}


/*************************
********Home CSS**********
**************************/

#home-slider {
    overflow: hidden;
    position: relative;
}

#home-slider .caption {
    position: absolute;
    top: 50%;
    margin-top: -104px;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 15;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}

#home-slider .caption h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
}

.caption .btn-start {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 14px 40px;
    border: 1px solid #6e6d6c;
    border-radius: 4px;
    margin-top: 40px;
}

.caption .btn-start:hover {
    color: #fff
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2037px;
}

.carousel-fade .carousel-inner .item:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.left-control,
.right-control {
    position: absolute;
    top: 50%;
    height: 51px;
    width: 51px;
    line-height: 48px;
    border-radius: 50%;
    border: 1px solid #fff;
    z-index: 20;
    font-size: 24px;
    color: #fff;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.left-control {
    left: -51px
}

.right-control {
    right: -51px;
}

.left-control:hover,
.right-control:hover {
    color: #fff;
}

#home-slider:hover .left-control {
    left: 30px
}

#home-slider:hover .right-control {
    right: 30px
}

#home-slider .fa-angle-down {
    position: absolute;
    left: 50%;
    bottom: 50px;
    color: #fff;
    display: inline-block;
    width: 24px;
    margin-left: -12px;
    font-size: 24px;
    line-height: 24px;
    z-index: 999;
    -webkit-animation: bounce 3000ms infinite;
    animation: bounce 3000ms infinite;
}

.navbar-right li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-right li.active a {
    background-color: rgba(0, 0, 0, .2);
}

.navbar-brand h1 {
    margin-top: 5px;
}


/*************************
********Service CSS*******
**************************/

.service-icon {
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 36px;
    height: 90px;
    line-height: 90px;
    width: 90px;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.our-services .col-sm-4:hover .service-icon {
    background-color: #333;
}

.our-services .col-sm-4 {
    border-right: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 50px;
}

.our-services .col-sm-4:nth-child(4),
.our-services .col-sm-4:nth-child(5),
.our-services .col-sm-4:nth-child(6) {
    border-bottom: 0;
    padding-top: 60px;
}

.our-services .col-sm-4:nth-child(3),
.our-services .col-sm-4:nth-child(6) {
    border-right: 0;
}

.service-info h3 {
    margin-top: 35px;
}


/*************************
********About CSS*******
**************************/

#about-us {
    background-image: url(../images/about-bg.jpg);
    padding: 60px 0;
}

#about-us h2 {
    margin-top: 0;
    color: #fff;
}

#about-us .lead {
    font-size: 16px;
    margin-bottom: 10px;
}

#about-us h1 {
    margin-bottom: 30px;
}

/*.progress {
    height: 20px;
    background-color: #fff;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 25px;
}*/

/*.progress-bar {
    box-shadow: none;
    -webkit-box-shadow: none;
    text-align: right;
    padding-right: 12px;
    font-size: 12px;
    font-weight: 600;
}*/

.progress .progress-bar.six-sec-ease-in-out {
    -webkit-transition: width 2s ease-in-out;
    transition: width 2s ease-in-out;
}


/*************************
********portfolio CSS*****
**************************/

#portfolio .container-fluid,
#portfolio .col-sm-3 {
    overflow: hidden;
    padding: 0;
}

#portfolio .folio-item {
    position: relative;
}

#portfolio .overlay {
    background-color: #000;
    color: #fff;
    left: 0;
    right: 0;
    bottom: -100%;
    height: 0;
    position: absolute;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.overlay .overlay-content {
    display: table;
    height: 100%;
    width: 100%;
}

.overlay .overlay-text {
    display: table-cell;
    vertical-align: middle;
}

.overlay .folio-info {
    opacity: 0;
    margin-bottom: 75px;
    margin-top: -75px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.overlay .folio-info h3 {
    margin-top: 0;
    color: #fff;
}

.folio-overview a {
    font-size: 18px;
    color: #333;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    margin-top: 20px;
    margin-right: 5px;
}

.folio-overview a:hover {
    color: #fff;
}

.folio-overview .folio-expand {
    margin-top: -500px;
    margin-left: -500px;
}

.folio-image,
.folio-overview .folio-expand {
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

#portfolio .folio-item:hover .folio-image {
    -webkit-transform: scale(1.5) rotate(-15deg);
    transform: scale(1.5) rotate(-15deg);
}

.folio-image img {
    width: 100%;
}

#portfolio .folio-item:hover .overlay {
    opacity: 0.8;
    bottom: 0;
    height: 100%;
}

#portfolio .folio-item:hover .folio-overview .folio-expand {
    margin-top: 0;
    margin-left: 0;
}

#portfolio .folio-item:hover .overlay .folio-info {
    opacity: 1;
    margin-bottom: 0;
    margin-top: 0;
}

#single-portfolio {
    padding: 90px 0;
    background: #f5f5f5;
    position: relative;
}

#single-portfolio img {
    width: 100%;
    margin-bottom: 10px;
}

#single-portfolio .close-folio-item {
    position: absolute;
    top: 30px;
    font-size: 34px;
    width: 34px;
    height: 34px;
    left: 50%;
    color: #999;
    margin-left: -17px;
}


/*************************
*********Team CSS*********
**************************/

#team {
    padding-top: 0;
}

.team-members {
    margin-bottom: 25px;
}

.social-icons {
    margin-top: 30px;
    text-align: center;
}

.social-icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.social-icons ul li {
    float: left;
    margin-right: 8px;
}

.social-icons ul li:last-child {
    margin-right: 0;
}

.social-icons ul li a {
    /*color:#fff;
  background-color: #d9d9d9;*/
    height: 36px;
    width: 36px;
    line-height: 36px;
    display: block;
    font-size: 16px;
    opacity: 0.8;
}

.social-icons ul li a:hover {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.team-member {
    text-align: center;
    color: #333;
    font-size: 14px;
}

.team-member:hover .social-icons ul li a.cart {
    background-color: #3b5999;
}

.team-member:hover .social-icons ul li a.facebook {
    background-color: #3b5999;
}

.team-member:hover .social-icons ul li a.twitter {
    background-color: #2ac6f7;
}

.team-member:hover .social-icons ul li a.dribbble {
    background-color: #ff5b92;
}

.team-member:hover .social-icons ul li a.linkedin {
    background-color: #036dc0;
}

.team-member:hover .social-icons ul li a.rss {
    background-color: #ff6b00;
}

#team .img-responsive {
    width: 100%;
}

.member-info h3 {
    margin-top: 35px;
}

.member-info h4 {
    font-size: 14px;
    margin-bottom: 15px;
    color: #999;
}


/*************************
*******Features CSS*******
**************************/

#features {
    text-align: center;
    background-image: url(../images/features-bg.jpg);
}

#features i {
    font-size: 48px;
}

#features h3 {
    margin-top: 15px;
    font-size: 30px;
    margin-bottom: 7px;
    color: #fff;
}

#features .slider-overlay {
    opacity: 0.8;
}


/*************************
*****Pricing Table CSS****
**************************/

.pricing-table {
    text-align: center;
}

.single-table {
    padding: 30px 20px 20px;
    border: 1px solid #f2f2f2;
}

.single-table h3 {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.price {
    font-size: 36px;
    line-height: 36px;
}

.price span {
    font-size: 14px;
    line-height: 14px;
}

.single-table ul {
    list-style: none;
    padding: 0;
    margin: 30px 0;
}

.single-table ul li {
    line-height: 30px;
}

.single-table.featured {
    color: #fff;
}

.single-table.featured h3 {
    color: #fff;
}

.single-table.featured .btn.btn-primary {
    background-color: #fff;
}


/*************************
********Twitter CSS*******
**************************/

#twitter {
    background-image: url(../images/twitter-bg.jpg);
}

#twitter > div {
    text-align: center;
    position: relative;
}

#twitter-carousel {
    position: relative;
    z-index: 15
}

.twitter-icon {
    position: relative;
    z-index: 15;
    color: #fff;
}

.twitter-icon .fa-twitter {
    font-size: 24px;
    height: 64px;
    width: 64px;
    line-height: 65px;
    border-radius: 50%;
    position: relative;
}

.twitter-icon .fa-twitter:after {
    position: absolute;
    content: "";
    border-width: 8px;
    border-style: solid;
    left: 24px;
    bottom: -14px;
}

#twitter-carousel .item {
    padding: 0 55px;
}

#twitter-carousel .item a {
    color: #fff;
}

.twitter-icon h4 {
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #fff;
}

.twitter-left-control,
.twitter-right-control {
    position: absolute;
    top: 50%;
    color: #fff;
    border: 1px solid #fafafa;
    height: 34px;
    width: 34px;
    line-height: 31px;
    margin-top: -17px;
    font-size: 18px;
    border-radius: 50%;
    z-index: 15
}

.twitter-left-control {
    left: 80px;
}

.twitter-right-control {
    right: 80px
}

.twitter-left-control:hover,
.twitter-right-control:hover {
    color: #fff;
}


/*************************
**********Blog CSS********
**************************/

.post-thumb {
    position: relative;
}

.post-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.post-meta {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.post-meta span {
    margin-right: 16px;
}

#post-carousel .carousel-indicators {
    bottom: 3px;
    left: 90%;
}

.blog-left-control,
.blog-right-control {
    position: absolute;
    top: 45%;
    width: 30px;
    text-align: center;
    color: rgba(255, 255, 255, .7);
    font-size: 36px;
}

.blog-left-control {
    left: 0;
}

.blog-right-control {
    right: 0;
}

.blog-left-control:hover,
.blog-right-control:hover {
    color: #fff;
}

.entry-header h3 a {
    line-height: 30px;
}

.entry-header .date,
.entry-header .cetagory {
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: uppercase;
    position: relative;
}

.entry-header .date:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -22px;
    width: 20px;
    height: 3px;
}

.entry-content {
    font-size: 14px;
}

.load-more {
    display: block;
    text-align: center;
    margin-top: 70px;
}

.btn-loadmore {
    border: 1px solid #f2f2f2;
    color: #666666;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 125px;
    text-transform: uppercase;
}

.btn-loadmore:hover {
    color: #fff;
}


/*************************
**********Contact CSS*****
**************************/

#contact {
    padding-top: 45px;
    padding-bottom: 0;
}

#google-map {
    height: 350px;
}

#contact-us {
    background-image: url(../images/contact-bg.jpg);
    padding-bottom: 90px;
}

#contact-us .heading {
    padding-top: 95px;
}

.form-control {
    background-color: transparent;
    /*border-color: rgba(255,255,255,.1);
  height: 50px;
  box-shadow: none;*/
}

textarea.form-control {
    min-height: 180px;
    resize: none;
}

.form-group {
    margin-bottom: 30px;
}

.contact-info {
    padding-left: 70px;
    font-weight: 300;
}

ul.address {
    margin-top: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-info ul li {
    margin-bottom: 8px;
}

.contact-info ul li a {
    color: #fff;
}

.btn-submit {
    display: block;
    padding: 12px;
    width: 100%;
    color: #fff;
    border: 0;
    margin-top: 40px;
}

#footer {
    color: #fff;
}

.footer-top {
    position: relative;
    padding: 30px 0
}

#footer .footer-bottom {
    background-color: #fff;
    padding: 20px 0 10px;
}

#footer .footer-bottom a:hover {
    text-decoration: underline;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 5px;
}

#footer .social-icons {
    margin-top: 15px;
}

#footer .social-icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .social-icons ul li a {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 4px;
    line-height: 33px;
}

#footer .social-icons ul li a:hover {
    color: #fff
}

#footer .social-icons ul li a.envelope:hover {
    background-color: #CECB26;
}

#footer .social-icons ul li a.facebook:hover {
    background-color: #3b5999;
}

#footer .social-icons ul li a.twitter:hover {
    background-color: #2ac6f7;
}

#footer .social-icons ul li a.dribbble:hover {
    background-color: #ff5b92;
}

#footer .social-icons ul li a.linkedin:hover {
    background-color: #036dc0;
}

#footer .social-icons ul li a.tumblr:hover {
    background-color: #ff6b00;
}

#services {
    padding: 186px 0px;
}


/*Presets*/

#order {
    background-position: center;
    background-repeat: no-repeat
}

#order .form-group input,
section#order .form-group textarea {
    padding: 20px
}

#order .form-group input.form-control {
    height: auto
}

#order .form-group textarea.form-control {
    height: 236px
}

#order .form-control:focus {
    border-color: #fed136;
    box-shadow: none
}

#order::-webkit-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}

#order:-moz-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}

#order::-moz-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}

#order:-ms-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}

#order .text-danger {
    color: #e74c3c
}

.member-image {
    cursor: pointer
}

.member-image:hover {
    opacity: 0.5;
    background: rgba(254, 209, 54, .9);
}

/*asdsad*/
@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: "Open Sans";
  src:url("../../fonts/OpenSans.eot");
  src:url("../../fonts/OpenSans.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/OpenSans.ttf") format("truetype"),
    url("../../fonts/OpenSans.svg#untitled-font-1") format("svg"),
    url("../../fonts/OpenSans.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  src:url("../../fonts/Montserrat-Regular.eot");
  src:url("../../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Montserrat-Regular.ttf") format("truetype"),
    url("../../fonts/Montserrat-Regular.svg#untitled-font-1") format("svg"),
    url("../../fonts/Montserrat-Regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-Regular";
  src:url("../../fonts/Montserrat-Regular.eot");
  src:url("../../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Montserrat-Regular.ttf") format("truetype"),
    url("../../fonts/Montserrat-Regular.svg#untitled-font-1") format("svg"),
    url("../../fonts/Montserrat-Regular.woff") format("woff");
}

body{ font-family:Open Sans;}
.progrss2{display:none}
.product_p{
/*	background:#f6f6f6;padding:0	
*/}
a { text-decoration:none}
a:hover{ text-decoration:none}
.footer_abov{margin:20px auto 0 auto}
.footer_abov a{color:white; font-size:18px; text-decoration:none; font-family:Open Sans}
.footer_abov a:hover{color:#545454;}
.btn-warning {background-color:#FF7e82 !important;border-color:#FF7e82 !important;}
.btn-warning:hover {background-color:#FF7e82;border-color:#FF7e82;}
.foot_link a{ color:#545454; font-size:13px; text-decoration:none; font-family:Open Sans}
.foot_link a:hover{color:#fff;}
.fb{width:38px;height:38px; background:url(../../images/fb.jpg);display:inline-block;}
.fb:hover{background:url(../../images/fb_h.jpg);}
.tw{width:38px;height:38px; background:url(../../images/tw.jpg);display:inline-block;}
.tw:hover{background:url(../../images/tw_h.jpg);}
.product_p h2{color:#707070;  font-family:Open Sans; font-size:20px; font-weight:normal;}
.product_p p{color:#707070;  font-family:Open Sans; font-size:14px; font-weight: lighter;}
.nav_an{padding:28px 0px 0px 0px}
@media (max-width: 640px) {
	.logo img{margin:0 auto}
}
.logo {
    padding-left: 10px;
}
.cstm_tab{padding:0; background:#eff1ee;height:auto; font-family:Open Sans; font-size:14px; color:#545454;}
.cstm_tab:hover{background:#FF7e82;}
.cstm_tab_extra{padding:0; background:#eff1ee;height:50px; line-height:50px; margin-bottom:10px;padding-left:10px}
.btn-group{float:right; margin-top:15px; margin-right:15px}
.prc{ line-height:50px}
textarea {
  resize: none;
}
/*.btnm{margin-top: -60px;}*/

.sub_prdct{padding:0px;font-size: 14px; color:#000}
.outer{ width:100%; height:auto;}
.outer h1{ padding-top:80px;}
.upload_button_outer{ height:52px; padding:3px;/* margin:0px 20px;*/ background:#f2f4f1; border-radius:5px; -moz-border-radius:5px; border:1px solid #c1c1c1}
.filename{ line-height:18px; float:left; margin-left:30px; line-height:50px; height:48px; overflow:hidden; width:auto;}
.uploadbtn{ float:right; position:relative; width:194px; height:52px; border-radius:5px; -moz-border-radius:5px; overflow:hidden;}
.uploadbtn input[type=file]{ position:relative; z-index:11; font-size:40px; opacity: 0; filter:alpha(opacity=0); /*cursor:pointer;*/ width:100%}
.uploadbtn .upload{width:33px; height:27px; background:url(../../images/uplod.jpg) no-repeat left top; position:absolute; right:10px; top:10px; z-index:10;}
.uploadbtn .upload:hover{ cursor:pointer}   
.prodct_prvw_main{margin-bottom:20px; height:auto; overflow:auto; padding-bottom:20px;background:#eff1ee;}
.prodct_prvw_head{font-size:20px; line-height:22px; margin-top:20px; font-weight:bold}
.prct_prvw_innr{ height:auto; border-right:1px solid #D5D5D5}
.prct_prvw_innr_hed{font-size:20px;padding: 10px 0px 10px 0px;}
.prct_prvw_innr_cnt{font-size:14px; line-height:20px; height:auto;/* background:#9C9; padding-top:10px; padding-bottom:10px;*/ border-top:1px dashed #c1c1c1;overflow: auto; padding: 10px 0px 10px 0px;}
.summry1{display:none}
.fft{height:80px;line-height:80px;border-right:1px solid #D5D5D5;text-align:center}
.main_drop{background:#676767;border-radius:0px; width:250px}
.pc_head{display:block}
.mob_head{display:none}
.anprv{ text-align:center}
@media (max-width: 980px) {
.menuu{float:right}	
.btn-group{float:right; margin-top:0px; margin-right:15px; margin-bottom:10px;}
.prct_prvw_innr{border-bottom:1px solid #C6C6C6; border-right:none}

	}
@media (max-width: 768px) {
.menuu{float:right}	
.cstm_tab_extra{background:#fff;}
	}
@media (max-width: 640px) {	
.logo{width:170px;}
.cstm_tab_extra{background:#fff;}
.fft{height:40px; line-height:40px;border-bottom: 1px solid #D5D5D5;
border-right: none;text-align:left;}
.pc_head{display:none}
.mob_head{display:block}
.prct_prvw_innr{padding:8px}
.anprv{text-align:left}	
}
@media (max-width: 480px) {	
.prodct_prvw_main{padding:0px;}
.progrss{display:none}
.progrss2{display:block}
.cstm_tab_extra{background:#fff;}
.summry{ display:none}
.progrss2{width:50%}
.summry1{display:block; width:140px;margin-top: 5px;}
.nav_an{margin-top: -60px;}
}
@media (max-width: 420px) {	
.menuu{width:100px;}
.cstm_tab_extra{background:#fff;}	
}
@media (max-width: 360px) {	
.menuu{width:80px;}	
.logo{width:150px;}
.uploadbtn{ float:right; position:relative; width:120px; height:52px; border-radius:5px; -moz-border-radius:5px; overflow:hidden;}
.cstm_tab_extra{background:#fff;}
}
@media (max-width: 320px) {
.uploadbtn{ float:right; position:relative; width:100px; height:52px; border-radius:5px; -moz-border-radius:5px; overflow:hidden;}
.prodct_prvw_main{padding:0px;width:100%}
.inner_contnr{width:100%}
	}
.back-color {
	background:#FF7e82;
}
.loading { margin: auto; }

.loading span {
  line-height: 32px;
  margin-left: 12px;
  font-size: 16px;
  vertical-align: middle;
}

.loading img { vertical-align: middle; }

.loading_wrp {
  background-color: #FFF;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1020;
}

.loading_wrp .x16 span {
  line-height: 16px;
  font-size: 12px;
  margin-left: 6px;
}

.loading_wrp .x32 img {
  width: 32px;
  height: 32px;
}
/*Preview Page CSS*/
@media (max-width: 480px) {.footer_abov{
margin:15px auto 0 auto;}}
@media (max-width: 360px) {.footer_abov{
margin:15px auto 0 auto;}}
@media (max-width: 640px) {.footer_abov{
margin:20px auto 0 auto;}}
.header_img img:hover{ cursor:pointer;}
li.selected {
	background-color:lightblue
}
li.unavailable a:hover {
	cursor: default !important;
}
/* HAck */
.line-height-css {
	line-height:50px;
}
/* HAck Ends */
.fixed_footer {
	position: fixed;
	left: 0;
	height: 80px;
	bottom: 0;
	width: 100%;
	z-index:10;
	border-top:1px solid #DAD6D6;
}
.container_fixed {
	margin-bottom:125px;
}
.clickimg {
	width:45px; 
	margin-top:-45px; 
	margin-left:20px;
}

@media (max-width: 640px) {	
	.fixed_footer {
		position: fixed;
		left: 0;
		height: 70px;
		bottom: 0;
		width: 100%;
	}
	.container_fixed {
		margin-bottom:80px;
	}
	.footer_abov_prv {
		margin:10px auto 0 auto;
	}
	.fixed_footer_prv {
		position: fixed;
		left: 0;
		height: 80px;
		bottom: 0;
		width: 100%;
	}
	.container_fixed_prv {
		margin-bottom:120px;
	}
}
.footer_abov_prv {
	margin:20px auto 20px auto;
}
.bs-wizard {margin-top: 40px;}

.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 12px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 20px; height: 20px; display: block; background: #fbe8aa; top: 50px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 10px; height: 10px; background: #FF7e82; border-radius: 50px; position: absolute; top: 5px; left: 5px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 6px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
.padding {padding-top:20px;}
.col-lg-3.col-xs-6.padding {
	padding-right:5px !important;
	padding-left:5px !important;
}
@media (max-width: 750px) {
	.mobile_padding{
		padding-left:10px;
		padding-right:10px;
	}
}
.align-center {
	text-align:center;
}
.top_style {
	float: none; 
	margin:0 auto 30px auto;
	margin-top:50px;
	text-transform:uppercase;
	color:#777;
	font-weight:normal;
}
.heading-align {
	text-align:center;
}
@media (max-width: 1180px) {
	.heading-align {
		text-align:left;
		padding-left:20px;
	}
}
.image-height {
	height:220px;
}
@media (max-width: 750px) {
	.image-height {
		height:300px;
	}
}
@media (max-width: 650px) {
	.image-height {
		height:250px;
	}
}
@media (max-width: 550px) {
	.image-height {
		height:200px;
	}
}
@media (max-width: 450px) {
	.image-height {
		height:175px;
	}
}
.form-style {
  font-family: Open Sans;
  font-size: 14px;
  text-transform: none;
}
a:hover{
  text-decoration: none;
}
.accordion-heading a {
  color: #337ab7;
  text-decoration: none;
}

.pinkBorder {
        width: 100%;
    height: auto;
    border: 3px solid rgb(255, 126, 130);
}
.Orderprice{
        font-size: 20px;
    font-weight: bold;
}
#itemContainer{
    margin-bottom: 200px;
}